@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


    var mensaje = "Japanese car dealership";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tokyo</h1>
    <p>@mensaje</p>
</div>
